{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">The Internet is home to a vast amount of information.
            Our goal is to analyze the overall trends of what is going on in the world right now.
            The News Positivity Analyzer gauges online public opinion from new articles, 
            which updates daily. This is done by web scraping articles and looking at the overall positivity 
            and negativity of a given day.</p>
        <a href=""
           class="btn btn-danger">About Us!</a>
    </div>
</div>
</div>

{% endblock sidebar %}